*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #120f0f; */
}

/* .NavbarBackgroundColor{ 
    background-color: rgb(18, 34, 43);
    height: 100%;
} */

.ziffcodeLogoDiv{
    width: 10rem;
    height: 4rem;
    margin-left: 5%;
}

.carouselImage{
    width: 100%;
    height: 100vh;
}

.nav-item .LiNavLink:hover{
    color: orangered;
}

.ziffcodeLogo{
    width: 100%;
    height: 100%;
}

.logoImage{
    width: 4rem;
    height: 4rem;
}

.ziffcodeDiv{
    background-color: #120f0f;
}

.codingRemovebDiv{
    width: 1.5rem;
    height: 1.5rem;
}
.ziffTechLtd{
    font-weight: bold;
    color: orangered;
    background-color: #120f0f;
    opacity: 75%;
    margin-top: 0;
}

.LandingPageCarousel{
    width: 100%;
    height: 100vh;
}

.LandingPageCarousel img{
width: 100%;
height: 100%;
}
.codingRemovebg1{
    width: 2rem;
    height: 2rem
}

.trainingImageDiv{
    width: 100%;
    height: 80vh;
    margin: 0 8% 0 0;
    text-align: center;   
}

.training{
    width: 85%;
    height: 100%;
}


.w-100{
    background-color: rgb(18, 47, 98);
    color: goldenrod;
}

.footerLogo{
    width: 10rem;
    height: 4rem;
}

.messageDiv{
    width: 83%;
    margin: auto;
    padding-bottom: 3%;
} 

.ourServicesEmpowers{
    width: 100%;
    height: 55vh;
    background-color: rgb(4, 26, 4);
    color: white;
    text-align: center;
    padding: 10%;
    margin: auto;
    animation: ServicesEmpowers 10s linear infinite; 
}

@keyframes ServicesEmpowers {
  0%   {background-color: rgb(35, 4, 29);}
  25%  {background-color: rgb(58, 58, 5);}
  50%  {background-color: rgb(6, 6, 77);}
  100% {background-color: rgb(8, 47, 8);}
}

.kidsIntheClass{
    width: 100vh;
    height: 100vh;
}

.theboysPrac{
    width: 100%;
    height: 38vh;
}

.footerComp{
    height: 100vh;
}

.digitalImg{
    width: 100%;
    height: 9rem;
}

.digitalMktImage{
    width: 100%;
    height: 100%;
}